@import url('https://fonts.googleapis.com/css?family=Josefin Sans');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #aaa;
}
.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-family: "Comfortaa", sans-serif;
}
.button:hover {
    background-color: #3e8e41;
}
header {
    background-color: #fff;
    font-style: normal;
    font-family: "Josefin Sans", sans-serif;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #aaa;
}
h2 {
    text-align: center;
    font-size: 30px;
}
p1 {
    font-size: 30px;
    font-family: "Comfortaa", sans-serif;
}
p2 {
    font-size: 40px;
    font-weight: bold;
}


