<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a1 href="/" class="d-flex align-items-center text-decoration-none">
            <span class="fs-4">WebSport</span>
        </a1>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="button me-3 py-2 text-decoration-none" href="/">Головна</a>
            <a class="button me-3 py-2 text-decoration-none" href="/sport">Розклад</a>
            <a class="button me-3 py-2 text-decoration-none" href="/sport/add">Додати розклад</a>
            <a class="button me-3 py-2 text-decoration-none" href="/about">Про нас</a>
            <a class="button me-3 py-2 text-decoration-none" href="/login">Авторизація</a>
        </nav>
    </div>
</div>